body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  width: 90%;
  margin: 50px auto;
  background: #fff;
  box-shadow: 0 10px 20px #000;
  border-radius: 20px;

  *{
    box-sizing: border-box;
    outline: none;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  li{
    list-style-type: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

  border-bottom: 1px solid #eaeaea;

  .headerLeft {
    display: flex;
    align-items: center;
    
    .headerLogo {
      width: 80px;
      height: 80px;
      margin-right: 24px;
    }

    h3, p {
      margin: 0;
    }

    h3 {
      text-transform: uppercase;
    }

    p {
      opacity: .5;
    }
  }

  .headerRight {
    display: flex;

    li {
      margin-right: 30px;
    }

    span{
      margin-left: 8px;
    }
  }
}

.content {
  padding: 40px;

  h1 {
    margin: 0 0 40px 0;
  }

  .sneakers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card{
  border: 1px solid #f2f2f2;
  border-radius: 40px;
  padding: 30px;
  width: 220px;
  margin-bottom: 40px;

  h5{
    font-weight: 400;
    font-size: 14px;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p, b{
      margin: 0;
    }

    p{
      opacity: .5;
      font-size: 13px;
      text-transform: uppercase;
    }

    b{
      font-size: 14px;
    }

    .cardBtn{
      background: #fff;
      border: 1px solid #f1f1f1;
      box-sizing: border-box;
      border-radius: 8px;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
}

  
}
