body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  width: 90%;
  margin: 50px auto;
  background: #fff;
  box-shadow: 0 10px 20px #000;
  border-radius: 20px;

  *{
    box-sizing: border-box;
    outline: none;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  li{
    list-style-type: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

  border-bottom: 1px solid #eaeaea;

  .headerLeft {
    display: flex;
    align-items: center;
    
    .headerLogo {
      width: 80px;
      height: 80px;
      margin-right: 24px;
    }

    h3, p {
      margin: 0;
    }

    h3 {
      text-transform: uppercase;
    }

    p {
      opacity: .5;
    }
  }

  .headerRight {
    display: flex;

    li {
      margin-right: 30px;
    }

    span{
      margin-left: 8px;
    }
  }
}

.content {
  padding: 40px;

  .contentHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    h1{
      margin: 0;
    }

    .searchBlock{
      display: flex;
      border: 1px solid #f2f2f2;
      border-radius: 10px;
      padding: 0 15px;
      
      input{
        border: 0;
        padding: 13px;
        font-size: 16px;
        width: 200px;
      }
    }
  }

  .sneakers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card{
  border: 1px solid #f2f2f2;
  border-radius: 40px;
  padding: 30px;
  width: 220px;
  margin-bottom: 40px;
  transition: box-shadow .2s ease-in-out, transform box-shadow .2s ease-in-out;

  &:hover{
    box-shadow: 0 14px 35px rgba(0,0,0,0.06);
    transform: translateY(-5px);
  }

  .cardFavourite{
    position: absolute;
    cursor: pointer;
  }

  h5{
    font-weight: 400;
    font-size: 14px;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p, b{
      margin: 0;
    }

    p{
      opacity: .5;
      font-size: 13px;
      text-transform: uppercase;
    }

    b{
      font-size: 14px;
    }

    .cardBtn{
      background: #fff;
      border: 1px solid #f1f1f1;
      box-sizing: border-box;
      border-radius: 8px;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
}

  
}
.cartOverlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cart{
  position: absolute;
  right: 0;
  height: 100%;
  width: 420px;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
  padding: 30px;

  h2{
    margin: 0 0 30px 0;
  }
}

.cartItem {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;

  .cartItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -3px;
    margin-right: 20px;
  }

  .cartItem__text{
    flex: 1;
    margin-right: 20px;
    
    p {
      margin: 0;
      font-size: 14px;
    }

    b{
      font-size: 14px;
    }
  }

  .cartItemBtn {
    margin: 0;
    opacity: .5;
    cursor: pointer;
    transition: opacity .2s ease-in-out;

    &:hover{
      opacity: 1;
    }
  }
}